<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/publish.css">
    <title>Publish Story</title>
</head>
<body>
    <div class="container">
        <h1 class="heading">Publish Your Story</h1>
        <h3 class="heading2">Editable Preview</h3>
        <div>
            <!-- <label for="story-title">Title:</label> -->
            <div id="story-title" contenteditable="true"><h1>{{ title }}</h1></div>
        </div>
        <div>
            <!-- <label for="story-author">Author:</label> -->
            <div id="story-author" contenteditable="true"><h3>{{ author }}</h3></div>
        </div>
        <div class="ratingshii">
        <p>Rating: <span id="current-rating">5</span> ⭐</p>
        <label for="rating">Rate this book:</label>
        <input type="number" id="rating" min="0" max="5" step="0.5" value="5">
        </div>
    <hr>
        <div>
            <!-- <label for="story-content">Story:</label> -->
            <div id="story-content" contenteditable="true">{{ story|safe }}</div>
        </div>
        <button class="save" onclick="saveToDB()">Publish</button>
    </div>

    <script src="../static/scripts/publish.js"></script>
        
</body>
</html>
